header{background-color:#ece0d5;text-align:left;}
nav{background-color:#e3d0c0;text-align:left;}
body{background-color:#d9c0ab;font-family:georgia;color:#7b5737;text-align:left;}
footer{background-color:#c59e7d;}
a{color:#7b5737;}
img{border:solid;border-color:#b98c64;border-width:5px;}
