header{background-color:#f1ea7f;color:grey;text-align:right;font-family:times;}
nav{background-color:#f4ed98;}
body{background-color:#f6f2b2;color:grey;text-align:right;font-family:times;}
footer{background-color:#f9f6cc;color:grey;text-align:right;}
a{color:lightgrey;}
table{align-items:center;}
.grab {cursor: grab;}
