header{background-color:#df90b6;text-align:center;}
body{background-color:#f6dfea;
font-family:arial;text-align:center;}
nav{background-color:#e9b4ce;}
footer{background-color:#e9b4ce;text-align:center;}
a{color:white;}
